@page "/vault/{VaultId}"
@using System.Security.Claims
@using PasswordManager.Web.Components.Fragments
@using PasswordManager.Web.Services
@using PasswordManager.Dto.Vault.Requests
@using PasswordManager.Dto.Vault.Responses
@using System.Text.Json


<PageTitle>Vault - @(vault?.Name ?? "...")</PageTitle>

@if (vault == null)
{
    <p>Chargement...</p>
}
else if (!isUnlocked)
{
    <div class="unlockVaultContainer">
        <div class="unlockVaultCard">
            <div class="unlockVaultHeader">
                <i class="fa-solid fa-unlock"></i>
                <h2>Déverrouiller le coffre "@vault.Name"</h2>
                <p>Entrez le mot de passe pour accéder au coffre.</p>
            </div>

            <div class="unlockVaultForm">

                <!-- MOT DE PASSE -->
                <div class="sectionForm">
                    <label for="vaultPassword">Mot de passe</label>
                    <input id="vaultPassword"
                           type="password"
                           placeholder="Mot de passe du coffre"
                           @bind="masterPassword"/>
                </div>

                <!-- MESSAGE D'ERREUR -->
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <p class="errorMessage">@errorMessage</p>
                }

                <!-- BOUTON DÉVERROUILLER -->
                <button type="button"
                        class="unlockVaultBtn"
                        @onclick="UnlockVault">
                    <i class="fa-solid fa-check"></i>
                    Déverrouiller
                </button>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="titleHome">
        @vault.Name
        @if (vault.IsCreator)
        {
            <button class="btn @(vault.IsShared ? "btn-success" : "btn-secondary")" @onclick="ToggleShare">
                @(vault.IsShared ? "Partagé" : "Partager")
            </button>
        }
    </h1>
    <button @onclick="() => showCreateForm = !showCreateForm">Ajouter une entrée</button>

    @if (showCreateForm)
    {
        <div class="create-entry-form">
            <h3>Nouvelle entrée</h3>
            <input @bind="newEntry.Title" placeholder="Titre" />
            <input @bind="newEntry.Username" placeholder="Nom d'utilisateur" />
            <input @bind="newEntry.Password" placeholder="Mot de passe" />
            <button @onclick="CreateEntry">Enregistrer</button>
        </div>
    }

    <div class="vaultEntries">
        @foreach (var entry in decryptedEntries)
        {
            <VaultEntry Title="@entry.Title"
                        Username="@entry.Username"
                        Password="@entry.Password"
                        OnShowPassword="@(() => ShowPassword(entry))"
                        Category=""
                        OnDelete="@(() => DeleteEntry(entry.Id))" />
        }
    </div>
}
