@page "/vault/{VaultId}"
@using PasswordManager.Web.Components.Fragments
@using PasswordManager.Web.Components.Vault
@using PasswordManager.Web.Components.Modals
@using PasswordManager.Web.Components.Shared

@inject NavigationManager Navigation

<PageTitle>Vault - @(vault?.Name ?? "...")</PageTitle>

@if (vault == null)
{
    <Loader />
}
else if (!isUnlocked)
{
    <OpenVaultModal
        VaultName="@vault.Name"
        MasterPassword="@masterPassword"
        MasterPasswordChanged="@((string v) => masterPassword = v)"
        ErrorMessage="@errorMessage"
        OnUnlock="UnlockVault" />
}
else
{
    <button class="btn btn-back" @onclick="GoBack">
        <i class="fa-solid fa-arrow-left"></i>
        Retour
    </button>
    <div class="vaultDetailsHeader">
        <h1 class="titleHome"><i class="fa-solid fa-unlock"></i> @vault.Name</h1>
        @if (vault.IsCreator)
         {
             <div class="vaultActions">
                 <button class="btnShare @(vault.IsShared ? "btn-success" : "btn-secondary")" @onclick="ToggleShare">
                     <i class="fa-solid fa-share-from-square"></i>
                     @(vault.IsShared ? "Partagé" : "Partager")
                 </button>
                 
                 <button class="btnUpdate btn-primary" 
                         @onclick="AskEditVault">
                     <i class="fa-solid fa-pen-to-square"></i> 
                     Modifier
                 </button>
                 
                 <button class="btnDelete btn-danger"
                         @onclick="AskDeleteVault">
                     <i class="fa-solid fa-trash"></i>
                     Supprimer
                 </button>
             </div>
        } 
    </div>
    
    
    <div class="btnAddContainer" @onclick="OpenCreateModal">
        <button class="btnAdd">Ajouter une entrée</button>
        <i class="fa-solid fa-plus"></i>
    </div>

    @if (showShareModal)
    {
        <AddUserModal VaultId="@VaultGuid" 
                      ExistingUsers="@vault.SharedWith" 
                      IsShared="@vault.IsShared"
                      OnSharingChanged="@OnSharingChanged"
                      OnClose="ToggleShare" />
    }

    <div class="vaultEntries">
        @foreach (var entry in decryptedEntries)
        {
            <VaultEntry
                Identifier="@entry.Identifier"
                EncryptedData="@entry.EncryptedData"
                OnAskDelete="AskDeleteEntry"
                OnAskEdit="AskEditEntry"
            />
        }
    </div>
    
    <ModalCreateOrUpdateVaultEntry
        IsOpen="showCreateModal"
        Entry="newEntry"
        Mode="modalMode"
        OnConfirm="ConfirmSaveEntry"
        OnCancel="CancelSaveEntry" />

    
    <ModalValidateDelete
        IsOpen="showDeleteModal"
        Message="Cette entrée sera définitivement supprimée. Continuer ?"
        OnConfirm="ConfirmDeleteEntry"
        OnCancel="CancelDelete" />
    
    <ModalValidateDelete
        IsOpen="showDeleteVaultModal"
        Message="Ce coffre et toutes ses entrées seront définitivement supprimés. Continuer ?"
        OnConfirm="ConfirmDeleteVault"
        OnCancel="CancelDeleteVault" />
    
    <ModalEditVault
        IsOpen="showEditVaultModal"
        InitialName="@vault.Name"
        OnConfirm="ConfirmEditVault"
        OnCancel="CancelEditVault" />


}
