<div class="vaultCard">
    <div class="vaultHeader">
        <!-- Zero-Knowledge : Le titre est rempli par JS via l'ID -->
        <h3 class="titleVault" id="@TitleId">Chargement...</h3>
        
        <div class="dropdown">
            <button class="btn p-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <button class="dropdown-item text-danger" @onclick="AskDelete">
                        <i class="fa-solid fa-trash me-2"></i>
                        Supprimer
                    </button>
                    <button class="dropdown-item text-primary" @onclick="AskEdit">
                        <i class="fa-solid fa-pen me-2"></i>
                        Modifier
                    </button>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- Commentaire sous le titre -->
    <div class="vaultComment" id="@CommentId"></div>

    <div class="vaultField">
        <i class="fa-solid fa-user"></i>
        <!-- Zero-Knowledge : Le username est rempli par JS via l'ID -->
        <span id="@UsernameId">Chargement...</span>
    </div>

    <div class="vaultField">
        <i class="fa-solid fa-key"></i>
        <!-- Zero-Knowledge : Le mot de passe est rempli par JS via l'ID -->
        <span id="@PasswordId">••••••••</span>
        
        <button class="showBtn" @onclick="ShowPassword">
            <i class="fa-regular fa-eye"></i>
        </button>
    </div>

    <div class="vaultFooter">
        <!-- Lien URL à la place de la catégorie -->
        <button id="@UrlId" class="vaultUrlLink" onclick="window.cryptoFunctions.copyUrlToClipboard(this.id)">
            <span class="urlText">Lien</span>
            <i class="fa-regular fa-copy"></i>
        </button>
    </div>
</div>