<div class="vaultCard">
    <div class="vaultHeader">
        <h3 class="titleVault">@Title</h3>
        <div class="dropdown">
            <button class="btn p-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <button class="dropdown-item text-danger" @onclick="Delete">
                        <i class="fa-solid fa-trash me-2"></i>
                        Supprimer
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="vaultField">
        <i class="fa-solid fa-user"></i>
        <span>@Username</span>
        <button class="copyBtn" @onclick="() => Copy(Username)">
            <i class="fa-regular fa-copy"></i>
        </button>
    </div>

    <div class="vaultField">
        <i class="fa-solid fa-key"></i>
        <span>@(string.IsNullOrEmpty(Password) ? "••••••••" : Password)</span>
        <button class="showBtn" @onclick="OnShowPassword">
            <i class="fa-regular fa-eye"></i>
        </button>
        <button class="copyBtn" @onclick="() => Copy(Password)">
            <i class="fa-regular fa-copy"></i>
        </button>
    </div>

    <div class="vaultFooter">
        <i class="@CategoryIcon"></i>
        <span class="category">@Category</span>
    </div>
</div>

